@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mono-sans';
    src: url('assets/fonts/Mona-Sans-Regular.ttf');
}

@font-face {
    font-family: 'Mono-sans-medium';
    src: url('assets/fonts/Mona-Sans-Medium.ttf');
}

@font-face {
    font-family: 'Mono-sans-semibold';
    src: url('assets/fonts/Mona-Sans-SemiBold.ttf');
}

@font-face {
    font-family: 'Mono-sans-bold';
    src: url('assets/fonts/Mona-Sans-Bold.ttf');
}
